body {
  background-color: #F1F1F1;
  word-wrap: break-word;
}

h2, #events {
  padding-top: 40px;
  padding-bottom: 20px;
}

.page {
  padding: 40px;
}

.card {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-top: 10px;
}
ul {
  display: inline-block;
  text-align: left;
}

.align-center {
  text-align: center;
}

.presentation {
  margin-top: 2%;
}

.explaination {
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-primary {
  background-color: #3b579d;
  border: #3b579d;
  padding: 20px;
  width: 100%;
  font-size: 2rem;
}

.event-img {
  max-width: 300px;
}

.page-img {
  max-width: 50px;
}